<div class="row">
  <div class="col s4 m4 l4 center">
    <div class="card">
      <div class="card-image">
        <img src="assets/bookimages/{{itemDetalhe.ISBN}}.01.LZZZZZZZ.jpg" height=600 width=400>
      </div>
    </div>
  </div>
  <div class="col s8 m8 l8 right">
    <div>
      <div class="card-panel white">
        <h4>{{itemDetalhe.title}}</h4>
        <h6>by <div *ngFor="let autores of itemDetalhe.authors"><a href="autores?{{autores.AuthorID}}">{{autores.nameL}}, {{autores.nameF}}</a></div></h6>
      </div>
      <div class="card-panel white">
        List Price: <div class="preco-tachado">R$ {{itemDetalhe.price}}</div><br>
        Our Price: <div class="preco">R$ {{precoPromocional(itemDetalhe.price)}}</div><br>
        You Save: <div class="preco">R$ {{desconto(itemDetalhe.price)}}</div><br>
        <b>ISBN:</b> {{itemDetalhe.ISBN}}<br>
        <b>Publisher:</b> {{itemDetalhe.publisher}}<br>
        <b>Pages:</b> {{itemDetalhe.pages}}<br>
        <b>Edition:</b> {{itemDetalhe.edition}}<br>
        <div class="card-content">
            {{itemDetalhe.description}}
        </div>
      </div>
      <div class="card-action">
          <button class="btn waves-effect waves-light" (click)="adicionaCarrinho()" name="action" routerLink="carrinho">Adicionar ao Carrinho
            <i class="material-icons right">add_shopping_cart</i>
          </button>
      </div>
    </div>
  </div>
