<div class="row">
  <div class="col s6 m6 l6">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/img/bookstoresobre.jpg">
        <span class="card-title">Book Store</span>
      </div>
      <div class="card-content col s12 m12 l12" style="text-align: right">
        <h5>
          <p>Trabalho da disciplina de Desenvolvimento WEB - COM222</p>
        </h5>
        <h6>
          <p>Prof. Laercio Augusto Baldochi</p>
        </h6>
        <div class="col s6 m6 l6" style="text-align: left">
          <h5>
            <p>Equipe:</p>
          </h5>
          <p>Domingos Savio Faria Paes - 22599</p>
          <p>Haltielles César da Silva - 30876</p>
          <p>Jesuel Souza Dias - 27444</p>
          <p>Samuel Nicolai - 2016018369</p>
        </div>
        <div class="col s6 m6 l6" style="text-align: right">
          <h5>
            <p>Ferramentas</p>
            <p>Frontend</p>
          </h5>
          <p>Angular e Materialize</p>
          <h5>
            <p>Backend</p>
          </h5>
          <p>NodeJS</p>
        </div>
      </div>
    </div>
    <div class="card-action">
      <a href="https://github.com/Haltielles/Projeto-Livraria-Web.git">GitHub do Projeto</a>
    </div>
  </div>
</div>