<div class="col l12 m12 s12" *ngFor="let lista of itensBusca">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/bookimages/{{lista.ISBN}}.01.MZZZZZZZ.jpg" height=200>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title"><a href="detalhes/{{lista.ISBN}}">{{lista.title}}</a></span>
          <b>Authors</b><div *ngFor="let autor of lista.authors"><a href="authors?{{autor.AuthorID}}">{{autor.nameL}}, {{autor.nameF}}</a></div>
          {{descricaoResumida(lista.description)}}...
          <a href="detalhes/{{lista.ISBN}}"><b>mais detalhes</b></a>
        </div>
      </div>
    </div>
  </div>
  