<div class="col l10 m10 s10">
  <div class="row orange darken-2">
    <div class="cabecalho col l2 m2 s2"><h6>Quantidade</h6></div>
    <div class="cabecalho col l3 m3 s3"><h6>Preco Unitario</h6></div>
    <div class="cabecalho col l3 m3 s3"><h6>Sub Total</h6></div>
    <div class="cabecalho col l2 m2 s2"><h6>Remover</h6></div>
  </div>

  <ul class="collection">
    <li class="collection-item avatar" *ngFor="let lista of itens">
      <img src="assets/bookimages/{{lista.isbn}}.01.THUMBZZZ.jpg" alt="" class="circle">
      <span class="title"><a href="detalhes?isbn={{lista.isbn}}">{{lista.title}}</a></span>
      <div class="row">
        <div class="col l1 m1 s1" style="border-style: solid">
          99
        </div>
        <div class="col l1 m1 s1">
          <a href="#" style="color: black"><i class="material-icons box white">add</i></a>
          <a href="#" style="color: black"><i class="material-icons box white">remove</i></a>
        </div>
        <div class="col l3 m3 s3">R$ {{lista.price}}</div>
        <div class="col l3 m3 s3">R$ {{lista.price}}</div>
        <div class="col l2 m2 s2"><a href="#" style="color: black"><i class="material-icons box white">remove_shopping_cart</i></a></div>
      </div>
    </li>
  </ul>

  <div class="row orange darken-2">
      <div class="cabecalho col l2 m2 s2"><h6>Sub Total</h6></div>
      <div class="cabecalho col l3 m3 s3"><h6>Frete</h6></div>
      <div class="cabecalho col l3 m3 s3"><h6>Total</h6></div>
      <div class="cabecalho col l2 m2 s2"><h6>Efetuar Compra</h6></div>
    </div>  
</div>