<!-- logo -->
<div class="navbar-wrapper">
  <a class="navbar-item" href="#">
    <img src="assets/img/bookstorelogo.jpg" height=65 width=250>
  </a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>{{usuarioNome}}</li>
    <li> |</li>
    <li><a (click)="logout()"><i class="large material-icons orange darken-4">exit_to_app</i></a></li>
    <li>|</li>
    <li><a href="login"><i class="large material-icons orange darken-4">account_box</i></a></li>
    <li>|</li>
    <li><a href="carrinho"><i class="large material-icons orange darken-4">shopping_cart</i></a></li>
  </ul>
</div>